<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Curso_Csharp_CRUD_LINQ_Y_SQL.Properties.Settings.CrudLinqSql"
            connectionString="Data Source=DESKTOP-1OC5PN7;Initial Catalog=GestionPedidos;User ID=sa;Password=Sergio.michel7"
            providerName="System.Data.SqlClient" />
        <add name="Curso_Csharp_CRUD_LINQ_Y_SQL.Properties.Settings.GestionPedidosConnectionString"
            connectionString="Data Source=DESKTOP-1OC5PN7;Initial Catalog=GestionPedidos;Persist Security Info=True;User ID=sa;Password=Sergio.michel7"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>